    /* design system */

.design-system-child > .title {
    padding: .5rem 1rem;
}
.design-system-child > .body {
    --gap: 1rem;
}

.design-system-child .body.type > * {
    margin: 0 1rem;
    display: block;
}

/* buttons */

button.bg-primary, .btn.bg-primary,
button.br-primary, .btn.br-primary {--color: var(--primary-color);}
button.bg-secondary, .btn.bg-secondary,
button.br-secondary, .btn.br-secondary {--color: var(--secondary-color);}
button.bg-accent, .btn.bg-accent,
button.br-accent, .btn.br-accent {--color: var(--accent-color);}
button.bg-black, .btn.bg-black,
button.br-black, .btn.br-black {--color: var(--black-color);}

/* outlined */
button.outlined,
.btn.outlined {
    background-color: transparent;
}

button:not(.outlined),
.btn:not(.outlined) {
    border-color: transparent;
}

button.outlined:not([disabled]):not(.tag):hover,
.btn.outlined:not([disabled]):not(.tag):hover,
button.outlined:not([disabled]):not(.tag):active,
.btn.outlined:not([disabled]):not(.tag):active {
    background: hsl(var(--color) / var(--alpha));
    color: white;
    border-color: transparent;
}

button:not(.outlined):not([disabled]):hover,
.btn:not(.outlined):not([disabled]):hover,
button:not(.outlined):not([disabled]):active,
.btn:not(.outlined):not([disabled]):active {
    background-color: transparent;
    border-color: hsl(var(--color) / var(--alpha));
    color: hsl(var(--color) / var(--alpha));
}

button:disabled:hover,
.btn:disabled:hover,
button:disabled:active,
.btn:disabled:active  {
    opacity: .5;
}

button.tag,
.btn.tag {
    padding: .25rem 1rem;
}

button.tag:hover,
.btn.tag:hover,
button.tag:active,
.btn.tag:active {
    --alpha: .6;
    /* background: hsl(var(--color) / var(--alpha));
    color: white;
    border-color: transparent; */
    
    color: hsl(var(--color) / var(--alpha));
    /* transform: scale(1.02); */
}

/* header */

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background : white;
    box-shadow : 0 1px 3px rgba(0, 0, 0, 0.205);
}

header .btn {
    font-weight: 400;
    border-width: 0;
}

header .btn:not(.logo-link) {
    --color: var(--primary-color);
}

header .btn:not(.logo-link):hover {
    border-width: 0 0 2px 0;
    font-weight: 500;
}

header .btn.active {
    color:hsl(var(--primary-color) / var(--alpha));
    font-weight: 500;
}

header ul .logo:hover .btn {
    color: initial;
}

/* page-starter */
.page-starter {
    --gap: 0;
    min-block-size: 60vh;
    grid-template-columns: 2fr .5fr;
    grid-template-rows: 2fr 1fr;
}

.page-starter > div {
    /* border: 1px solid #000; */
    display: grid;
    gap: 1rem;
}

.page-starter .left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-content: start;
    align-content: center
}

.page-starter .right {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

.page-starter .bottom {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    justify-items: center;
    align-items: center;
}

.page-starter .page-heading {
    text-transform: uppercase;
    color: hsl(var(--primary-color) / var(--alpha));
}

.page-starter .page-sub-heading {
    text-transform: capitalize;
    color: hsl(var(--text-color) / var(--alpha));
    font-weight: 400;
}

.page-starter .cta {
    padding: .5rem 1.5rem;
}

.pre-resume {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.page-starter .resume-card {
    border: 1.5px solid hsl(var(--primary-color) / var(--alpha));
    padding: 1rem 1rem;
    grid-template-columns: .3fr .8fr;
    max-inline-size: 15rem;
    justify-items: center;
    border-radius: .5rem;
}

.page-starter .resume-card .card-count {
    font-size: 2rem;
    color: hsl(var(--primary-color) / var(--alpha));
    font-weight: bold;
}

.page-starter .resume-card .card-discription {
    font-size: 1rem;
    color: hsl(var(--text-color) / var(--alpha));
    font-weight: 500;
    font-family: var(--body-font-family);
}

/* toggle button */
.switch {
    border: 1px solid red;
}


@media (max-width: 500px) {
    .tags{
        align-content: center;
        flex-direction: column;
        --gap: 1rem;
    }
    .pre-resume {
        grid-template-columns: 1fr;
    }
  }