    /* design system */

.design-system-child > .title {
    padding: .5rem 1rem;
}
.design-system-child > .body {
    --gap: 1rem;
}

.design-system-child .body.type > * {
    margin: 0 1rem;
    display: block;
}

/* link */

.text-link {
    color:hsl(var(--text-color) / var(--alpha));
    transition: all 0.15s ease-in-out;
}
.text-link.hr-primary:hover {
    color: hsl(var(--primary-color) / var(--alpha));
}
.text-link.hr-accent:hover {
    color: hsl(var(--accent-color) / var(--alpha));
}

/* buttons */

button.bg-primary, .btn.bg-primary,
button.br-primary, .btn.br-primary {--color: var(--primary-color);}
button.bg-secondary, .btn.bg-secondary,
button.br-secondary, .btn.br-secondary {--color: var(--secondary-color);}
button.bg-accent, .btn.bg-accent,
button.br-accent, .btn.br-accent {--color: var(--accent-color);}
button.bg-black, .btn.bg-black,
button.br-black, .btn.br-black {--color: var(--black-color);}

/* outlined */
button.outlined,
.btn.outlined {
    background-color: transparent;
}

button:not(.outlined),
.btn:not(.outlined) {
    border-color: transparent;
}

button.outlined:not([disabled]):not(.tag):hover,
.btn.outlined:not([disabled]):not(.tag):hover,
button.outlined:not([disabled]):not(.tag):focus,
.btn.outlined:not([disabled]):not(.tag):focus {
    background: hsl(var(--color) / var(--alpha));
    color: white;
    border-color: transparent;
}

button:not(.outlined):not([disabled]):hover,
.btn:not(.outlined):not([disabled]):hover,
button:not(.outlined):not([disabled]):focus,
.btn:not(.outlined):not([disabled]):focus {
    --alpha: .89;
    background-color: hsl(var(--color) / var(--alpha));
    /* border-color: hsl(var(--color) / var(--alpha));
    color: hsl(var(--color) / var(--alpha)); */
}

button:disabled:hover,
.btn:disabled:hover,
button:disabled:focus,
.btn:disabled:focus  {
    opacity: .5;
}

button.tag,
.btn.tag {
    padding: .25rem 1rem;
}

button.tag:hover,
.btn.tag:hover,
button.tag:focus,
.btn.tag:focus {
    --alpha: .6;
    /* background: hsl(var(--color) / var(--alpha));
    color: white;
    border-color: transparent; */
    
    color: hsl(var(--color) / var(--alpha));
    /* transform: scale(1.02); */
}

button.tag:not(.outlined):hover,
.btn.tag:not(.outlined):hover,
button.tag:not(.outlined):focus,
.btn.tag:not(.outlined):focus {
    --alpha: .8;
    color: hsl(var(--white-color) / 1);
}

/* header */

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    /* background : white;
    box-shadow : 0 1px 3px rgba(0, 0, 0, 0.205); */
    z-index: 2;
}

header.elevated {
    background : rgba(255, 255, 255, 0.95);
    box-shadow : 0 1px 3px rgba(0, 0, 0, 0.205);
    color : #000333ba;
}

header.elevated ul:not(.mobile) {
    margin: .5rem auto;
}

header #logo {
    /* transition: .2s ease-in-out; */
    transform: scale(1);
}

header.elevated #logo{
    animation: hideLogo .2s ease-in-out forwards;
}

@keyframes hideLogo {
    to {
        transform: scale(0);
        inline-size: 0;
    }
}

header .btn {
    font-weight: 500;
    border-width: 0 0 2px 0;
}

header .btn.active {
    color: hsl(var(--secondary-color) / var(--alpha));
}

header .btn.hire.active {
    color: hsl(var(--white-color) / var(--alpha));
}

header .btn.active,
header .btn.hire {
    border-color: hsl(var(--secondary-color) / var(--alpha));
}

header .btn:not(.hire):hover {
    border-color: hsl(var(--secondary-color) / var(--alpha));
    color: hsl(var(--secondary-color) / var(--alpha));
}

header ul .logo:hover .btn {
    color: initial;
}

/* page-starter */
.page-starter {
    --gap: 0;
    /* min-block-size: 70vh; */
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    padding: 0;
    min-block-size: auto;
}

.page-starter > div {
    display: grid;
}

.page-starter .left {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.page-starter .left > * {
    justify-self: center;
}

.page-starter .right {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    display: none;
}

.page-starter .bottom {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    justify-items: center;
    align-items: center;
}

.page-starter-text {
    gap: .8rem;
    justify-content: center;
    justify-items: center;
}

.page-starter .news-category {
    font-size: .9rem;
}

/* typewriter */
.typewriter {
    --typewriterSpeed: 0;
    --typewriterCharacters: 0;
    position: relative;
    /* width: max-content; */
    /* color: hsl(var(--text-color) / 0); */
    font-family: monospace;
    transition: all 0.3s ease-in-out;
}

.typewriter::before,
.typewriter::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.typewriter::before {
    background: rgba(255, 255, 255, 1);
    display: inline-block;
}

.typewriter::after {
    width: 0.1em;
    background: hsl(var(--primary-color) / .7);
}

.typewriter.type::before {
    animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
}
  
.typewriter.type::after {
    animation: typewriter var(--typewriterSpeed)
        steps(var(--typewriterCharacters)) 1s forwards,
        blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.typewriter.backspace::before,
.typewriter.backspace::after {
    left: 100%;
}

.typewriter.backspace::before {
    animation: backspace var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
}
  
.typewriter.backspace::after {
    animation: backspace var(--typewriterSpeed)
        steps(var(--typewriterCharacters)) 1s forwards,
        blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.typewriter.noAnimation::after,
.typewriter.noAnimation::before {
    display: none;
}


@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes backspace {
    to {
        left: 0;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

.page-starter .page-starter-text {
    --gap: 0;
}

.page-starter .page-heading {
    text-transform: uppercase;
    color: hsl(var(--secondary-color) / .5);
}

.page-starter .page-sub-heading {
    text-transform: capitalize;
    color: hsl(var(--primary-color) / var(--alpha));
    /* font-weight: 400; */
    font-size: clamp(1.6rem, calc(1.6vw + 1.6rem), 2rem);
    max-inline-size: 30ch;
}

.page-starter .tags > * {
    font-size: .8rem;
}

.page-starter .cta {
    padding: .5rem 2rem;
}

.pre-resume {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.page-starter .resume-card {
    border: 1.5px solid rgb(168, 168, 168);
    padding: 1rem 1.25rem;
    
    max-inline-size: 13rem;
    justify-items: center;
    border-radius: .5rem;
    --gap: 1rem;
}

.page-starter .resume-card .card-count {
    font-size: 1.8rem;
    color: hsl(var(--primary-color) / var(--alpha));
    font-weight: bold;
    display: grid;
    justify-content: center;
}

.page-starter .resume-card .card-discription {
    font-size: 1rem;
    color: hsl(var(--text-color) / var(--alpha));
    font-weight: 500;
    font-family: var(--body-font-family);
    max-inline-size: 10ch;
}

/* toggle button */
.toggle-switch {
    justify-content: center;
    gap: 1rem;
}

.toggle-switch-options {
    font-size: .95rem;
    font-weight: 500;
    color:hsl(var(--text-color) / var(--alpha));
    cursor: pointer;
    align-self: center;
    justify-self: center;
    max-inline-size: 10ch;
}

.toggle-switch-options:hover,
.toggle-switch-options:focus {
    color: hsl(var(--secondary-color) / var(--alpha));
}

.toggle-switch-options.active {
    /* font-weight: 700; */
    color: hsl(var(--secondary-color) / var(--alpha));
}

.switch {
    position: relative;
    block-size: 2rem;
    aspect-ratio: 2/1;
    align-self: center;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(var(--accent-color) / var(--alpha));
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    width: 1rem;
    aspect-ratio: 1/1;
    left: 5px;
    top: 8px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

    box-shadow : 2px 2px 4px rgba(0, 0, 0, 0.386), -2px -2px 4px rgba(0, 0, 0, 0.386);
}

/* input:checked + .slider {
    background-color: #2196F3;
} */

/* input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
} */


input:checked + .slider:before {
    -webkit-transform: translateX(2.3rem);
    -ms-transform: translateX(2.3rem);
    transform: translateX(2.3rem);
}

input:checked + .slider {
    background-color: hsl(var(--primary-color) / var(--alpha));
}

.slider.round {
    border-radius: 3rem;
}

.slider.round:before {
    border-radius: 50%;
}

/* section heading */
.section-heading-wrapper {
    --gap: .5rem;
    justify-content: center;
    text-align: center;
    text-align: center;
}

.section-heading {
    text-transform: uppercase;
    justify-self: center;
    align-self: flex-start;
    align-items: center;
    display: flex;
    gap: .5rem;
}

.section-heading::before,
.section-heading::after {
  content: "";
  background-color: hsl(var(--text-color) / .5);
  display: inline-block;
  height: 2px;
  width: 10vw;
}

.section-heading::before {
  align-self: center;
}

.section-sub-heading {
    font-size: .9rem;
}

/* about */
.about {
    overflow: hidden;
    background-image: linear-gradient(to right top, #051937, #00213a, #00283a, #002e37, #003333);
    block-size: auto;
    padding: 5rem 0;
}

.about .about-body {
    grid-template-columns: .6fr 1fr;
    justify-items: center;
    /* align-items: center; */
}

.stacks-body {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.stack-category {
    justify-items: center;
    align-content: flex-start;
    --gap: 2rem;
}

.stack-category-title {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 400;
    color: hsl(var(--text-color) / .85)
}

.stack-category-icons {
    grid-template-columns: repeat(3, 1fr);
    --gap: 2.5rem;
}

.stack-catogory-icon-wrapper {
    justify-items: center;
    --gap: .5rem;
}

.stack-catogory-icon {
    font-size: 3rem
}

.stack-name {
    font-size: .9rem;
    color: hsl(0, 0%, 80%);
}

.about .img-wrapper {
    --radius-1: 54%;
    --radius-2: 60%;
    --radius-3: 52%;
    --radius-4: 61%;
    --radius-5: 76%;
    --radius-6: 80%;
    --radius-7: 54%;
    --radius-8: 55%;
    inline-size: clamp(13rem, 25vw, 20rem);
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: var(--radius-1) var(--radius-2) var(--radius-3) var(--radius-4) / var(--radius-5) var(--radius-6) var(--radius-7) var(--radius-8);
    object-fit: contain;
    /* box-shadow: 5px 5px 5px rgba(50, 50, 50, 0.486), -5px -5px 5px rgba(58, 58, 58, 0.486); */
}
.about .about-discription {
    --gap: .8rem;
    color: hsl(0, 0%, 95%);
}

.about .about-discription p {
    /* line-height: 1.6rem; */
    line-height: 30px;
    font-size: 1rem;
}

.about-discription .sub-details {
    --gap: .25rem;
    color: hsl(0, 0%, 90%);
}

.about-discription .sub-details p {
    font-size: .9rem;
}

.about-discription .sub-details span.title {
    font-weight: 600;
}

.about-discription .sub-details span.title:after {
    content: ": ";
}

.projects,
.blogs {
    justify-content: center;
}

/* project cards */
.project-card {
    grid-template-columns: 1fr;
    border-radius: .5rem;
    overflow: hidden;
    --gap: .5rem;
    box-shadow: -.5px -.5px 2px rgba(0, 0, 0, .1),
                 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.projects-body {
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
}

.project-card.mini {
    grid-template-columns: 1fr;
    border-radius: 10px;
    overflow: hidden;
    --gap: 0;
}

.project-stacks {
    justify-items: center;
    align-content: space-evenly;
    padding: 1.5rem 0;
}

.project-card-stack {
    font-size: 2rem;
}

/* .project-card .body { */
    /* grid-template-columns: .6fr 1fr; */
    /* padding: 1rem 2rem; */
    /* --gap: 1rem; */
/* }  */

.divider {
    inline-size: 100%;
}

.project-card.mini .body {
    grid-template-columns: 1fr;
    padding: 1.5rem 0rem;
    justify-items: space-between;
}

.project-stacks {
    background-color: hsl(178, 36%, 93%);
}

.project-img-wrapper {
    block-size: 30vh;
    inline-size: 100%;
    overflow: hidden;
    border-radius: 5px;
}


.project-card-details {
    --gap: .5rem;
    padding: 1.5rem;
    align-self: flex-start;
}

.project-card-details.mini {
    gap: .5rem;
}

.project-card-details:not(.mini) {
    text-align: center;
    justify-items: center;
}

.project-card-details > * {
    block-size: min-content;
}

.project-description {
    color: hsl(var(--text-color));
    font-size: 1rem;
}

.project-card .news-category {
    --gap: .5rem;
    flex-wrap: wrap;
}
.project-card .news-category > * {
    color: rgba(3, 26, 26, 0.842);
}

.project-card .cta{
    padding: .5rem 1.5rem;
}

/* blog */
.blogs-body {
    --gap: 0 1rem;
}

.blogs-body.grid-list {
    inline-size: 80vw;
    margin-inline: auto;
    --gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.blog-card {
    border: 1px solid hsl(var(--secondary-color) / .25);
    padding: 1.5rem 1.5rem;
    --gap: .5rem;
    border-radius: .5rem;
}

.blog-card-reaction {
    color: hsl(var(--secondary-color) / var(--alpha));
    font-size: 1.25rem;
    --gap: 1.5rem;
}

.blog-card-reaction > * {
    transition: all .2s ease-in-out;
    cursor: pointer;
    color: hsl(var(--secondary-color) / .8);
}

.blog-card-reaction > *:hover,
.blog-card-reaction > *:focus {
    color: hsl(var(--secondary-color) / 1);
}

/* news */
.news {
    overflow: hidden;
}

.news-body {
    grid-template-columns: repeat(3, 1fr);
}

.news-card {
    --gap: .5rem;
    padding: 1.5rem;
    border-radius: 1rem;

    background-color: hsl(var(--secondary-color) / 1);
}


.news-description {
    font-size: .9rem;
    font-weight: normal;
    color: hsl(0, 0%, 90%);
}

.news-category {
    list-style-position: inside;
    font-size: .8rem;
    color: rgb(170, 170, 170);

    flex-wrap: wrap;
}

.news-category > * {
    transition: all .2s ease-in-out;
}

.news-category > *:hover {
    cursor: pointer;
    color: rgb(205, 205, 205)
}


/* .loadMore {
    justify-self: center;
    padding: .35rem 1rem;
    font-size: .9rem;
} */

.paginator {
    justify-self: center;
    --gap: .5rem;
    inline-size: min-content;
}

.paginator .paginator-tabs {
    --alpha: .7;
    border: 0px solid hsl(var(--secondary-color) / 0.2);
    color: hsl(var(--secondary-color) / var(--alpha));
    border-radius: 10px;
    padding: .15rem .65rem;
    transition: all .2s ease-in-out;
}

.paginator .paginator-tabs.active,
.paginator .paginator-tabs:focus {
    border-width: 1px;
    --alpha: 1;
}

.paginator .paginator-tabs:hover{
    --alpha: 1;
}

/* hire page */
.hire {
    --gap: 1.5rem;
}

.contact-intro {
    --gap: .5rem;
}

.hire .divider,
.hire .contact-form {
    inline-size: 80%;
}

.optional-fields {
    --gap: 1rem
}

.optional-fields .header {
    justify-content: space-between;
    align-items: center;
    padding: .25rem 1rem;
    background-color: #faf7ffaf;
    border-radius: 5px;
}

.optional-fields .header-text {
    font-size: .9rem;
    font-weight: 500;
    color: hsl(var(--text-color) / var(--alpha));
}

.optional-fields .header button {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.3rem;
    padding: .5rem 1rem;
}

.optional-fields .body {
    margin: 0 .85rem;
    --gap: .5rem;
    flex-wrap: wrap;
    block-size: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.optional-fields .body.visible {
    block-size: 100%;
}

.optional-fields .form-tags {
    border: 1px solid rgb(185, 185, 185);
    padding: .25rem 1rem;
    color: hsl(var(--text-color) / var(--alpha));
    border-radius: 30px;
    font-size: .9rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.optional-fields .form-tags.selected {
    background-color: rgb(60, 133, 160);
    border-color: transparent;
    color: white;
}

.form-submit-area,
.form-submit {
    inline-size: 100%;
}


/* article page */
.article {
    --gap: 1rem;
}

.projects.related .section-body {
    --gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
}

.projects.related .section-body .project-card-details{
    --gap: 0;
    padding: 0 1rem;
}

.article-heading {
    font-size: 1.25rem;
}

.article-img-stats {
    position: relative;
}

.article .img-wrapper {
    inline-size: 100%;
}

.article .img-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    inline-size: 100%;
    block-size: 100%;
    background-color: #02031818;
    transition: all 0.2s ease-in-out;
}

.article .img-wrapper:hover::after{
    background-color: hsla(237, 85%, 5%, 0.192);
}


.article .img-wrapper img {
    inline-size: 100%;
    aspect-ratio: 16/8;
    object-fit: cover;
}

.article-reaction-stats {
    position: absolute;
    bottom: 5%;
    left: 50%;
    --gap: 2rem;
    transform: translateX(-50%);
    padding: .85rem 2rem;
    background-color: rgba(255, 255, 255, 0.749);
    border-radius: 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.363);
    color: hsl(var(--secondary-color) / var(--alpha));
}

.article-reaction-stats > *:hover,
.article-reaction-stats > *:focus {
    color: hsl(var(--secondary-color) / .7);
}

.article-reaction-stats > * {
    font-size: 1.25rem;
    cursor: pointer;
}

.article-time-stats {
    --gap: .25rem;
    font-size: .9rem;
    color: rgb(141, 139, 139);
}


.article-category-tags {
    flex-wrap: wrap;
    --gap: .55rem;
}

.article-stacks-used-body > *,
.article-category-tags > *{
    font-size: .9rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.article .article-discription {
    max-inline-size: 100ch;
    font-size: bold;
    line-height: 32px;
    font-size: 1.1rem;
}

.article .visit-site {
    border-radius: 20px;
}

.article-code-snippet {
    border: 1px solid rgba(152, 152, 152, 0.448);
    overflow: hidden;
    border-radius: 5px;
}

.artcle-snippet-pre-detail {
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(145, 145, 145, 0.05);
    padding: .5rem 1rem;
    color: hsl(var(--text-color) / .7);
    border: 1px solid rgba(152, 152, 152, 0.448);
    border-width: 0 0 1px 0;
}

.artcle-snippet-pre-detail .language {
    font-weight: 500;
}

.artcle-snippet-pre-detail .code-link {
    color: hsl(var(--accent-color) / .7)
}

.artcle-snippet-pre-detail .right {
    --gap: .25rem;
}

.artcle-snippet-pre-detail .right button {
    padding: .15rem .5rem;
    border-radius: 5px;
    border: 1.5px solid hsl(var(--secondary-color) / .2);
    color: hsl(var(--secondary-color) / var(--alpha));
    font-size: .8rem;
    background-color: transparent;
}

.artcle-snippet-pre-detail .right button:hover {
    background-color: rgba(0, 0, 0, 0.049)
}

.artcle-snippet-pre-body {
    padding: .5rem 2rem;
    height: 80vh;
    overflow-y: scroll;
}

.artcle-snippet-pre-body.open {
    height: auto;
}

.article-code-snippet .source-code {
    padding: .5rem 1.5rem;
    --gap: .5rem;
    cursor: pointer;
}

.article-code-snippet .source-code .label {
    font-size: 500;
}

.article-code-snippet .source-code .code-link {
    color: hsl(var(--accent-color) / .7)
}

.reactions-heading {
    --gap: .25rem;
    align-items: baseline;
    font-weight: 500;
    font-size: 1.15rem;
}

.reactions-heading .reactions-count {
    color: rgb(177, 177, 177);
    font-weight: 400;
    font-size: .9rem;
}

.reaction-body-minimised {
    justify-content: flex-start;
    --gap: 0rem;
    grid-template-columns: repeat(2, auto);
}


.reaction-body-minimised .article-reaction-items {
    padding: 1rem .5rem;
    --gap: .5rem;
}

.reaction-body-minimised .reaction-item,
.reaction-body-full .item-image {
    inline-size: 3rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.reaction-body-minimised .reaction-item::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    inline-size: 100%;
    block-size: 100%;
    background-color: rgba(0, 3, 51, 0);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.reaction-body-minimised .reaction-item:hover::after {
    background-color: rgba(0, 3, 51, 0.179);
}

.reaction-body-minimised .reaction-item img,
.reaction-body-full img {
    inline-size: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.reaction-body-minimised .show-all-reactions {
    align-self: center;
    padding: 1rem;
    background-color: transparent;
    font-size: 1.2rem;
    color: hsl(var(--secondary-color) / .5);
    transition: .2s ease-in-out;
}

.show-all-reactions:hover {
    color: hsl(var(--secondary-color) / 1);
}

.reaction-body-minimised,
.reaction-body-full {
    display: none;
}
.reaction-body-minimised.visible,
.reaction-body-full.visible {
    display: grid;
}


.reaction-body-full .reaction-item {
    justify-items: flex-start;
    align-items: flex-start;
    --gap: 0rem;
    background-color: rgba(210, 210, 210, 0.156);
    padding: 1rem 2rem;
    border-radius: 10px;
    grid-template-columns: 1fr;
}

.reaction-body-full img {
    inline-size: 100%;
}

.reaction-body-full .item-header {
    justify-content: space-between;
    inline-size: 100%;
    align-items: center;
    position: relative;
}

.reaction-body-full .item-header .user-details {
    align-items: center;
    --gap: .5rem;
}

.reaction-body-full .item-header .reactor-name {
    font-size: 1rem;
}

.reaction-body-full .item-header .item-reaction-items {
    font-size: 1rem;
    --gap: 2rem;
}

.reaction-body-full .item-reaction-items .item {
    font-size: 1.2rem;
    position: relative;
    color: hsl(var(--secondary-color) / .8);
    cursor: pointer;
}

.reaction-body-full .item-reaction-items .item-count {
    position: absolute;
    right: -8px;
    top: -8px;
    background-color: hsl(var(--accent-color) / 1);
    color: white;
    padding: 0 .25rem;
    border-radius: 50%;
    font-size: .7rem;
}

.item-header .item-reaction-items.mobile {
    position: absolute;
    right: 0;
    bottom: -12rem;
    background-color: rgb(228, 228, 228);
    padding: 1rem 2rem;
    border-radius: 10px;
    display: none;
    flex-wrap: nowrap;
}

.item-header .item-reaction-items.mobile .item {
    margin: 1rem .5rem;
}

.item-header .show-mobile-reactions {
    background-color: transparent;
    display: none;
}

.reaction-body-full .reaction-item-body {
    padding: .5rem 0;
    --gap: .5rem;
}

.reaction-body-full .item-snippet-activator {
    padding: 0;
    background-color: transparent;
    font-size: .9rem;
    justify-self: flex-end;
}

.reaction-item-body .reaction-snippet {
    padding: .5rem 1rem;
    background-color: white;
    display: none;
    overflow: scroll;
}

.reaction-item-body .reaction-snippet.visible {
    display: grid;
}

/* modals */
.model {
    display: none;
}
.model.in-view{display: grid;}
#comment-model {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    inline-size: 60vw;
    background-color: rgb(255, 255, 255);
    box-shadow: -2px -2px 4px solid #000333ba 2px 2px 4px solid #000333ba;
    padding: 2rem;
    overflow: hidden;
    border-radius: .5rem;
    z-index: 10;
}


@media screen 
    and (min-width: 1024px){

}

@media screen 
    and (max-width: 1024px){

    /* .typewriter {
        font-size: max(2.4rem, 3.25rem);
    } */

    .about {
        padding: 5rem 0;
    }

    .about .img-wrapper {
        inline-size: 18rem;
    }

    .project-card {
        grid-template-columns: 1fr;
    }
    
    .project-card .project-stacks {
        display: none;
    }

    .project-card .tag {
        font-size: .8rem;
    }

    .project-card-details {
        gap: .5rem;
        /* padding: 1rem; */
    }
    
    /* .project-card .body {
        grid-template-columns: .5fr 1fr;
        padding: 1rem 2rem;
        --gap: 6rem;
    } */

    .stack-category-icons {
        grid-template-columns: repeat(2, 1fr);
    }

    /* news */
    .news-body {
        grid-template-columns: repeat(2, 1fr);
    }

    /* hire */
    .hire .divider,
    .hire .contact-form {
        inline-size: 100%;
    }

}

@media screen 
    and (max-width: 480px){

    .page-starter {
        --gap: 2rem;
        /* min-block-size: 70vh; */
        grid-template-columns: 1fr;
        grid-template-rows: 2fr .5fr;
        justify-content: space-between;
        margin-block-start: 0;
        padding-block-start: 5rem;
    }

    .page-starter .news-category {
        display: grid;
        gap: .5rem;
    }

    .typewriter {
        /* font-size: max(2.25rem, 2.5rem); */
    }

    .tags{
        --gap: 1rem;
        display: grid;
    }
    .tags > *{
        justify-self: center;
    }
    .pre-resume {
        grid-template-columns: 1fr;
    }

    /* about */
    .about .about-body {
        grid-template-columns: 1fr;
    }

    .stacks-body {
        grid-template-columns: 1fr;
    }
    
    .stack-category-icons {
        grid-template-columns: repeat(3, 1fr);
    }

    /* project cards */    

    .project-card {
        grid-template-columns: 1fr;
        max-block-size: auto;
    }
    
    .project-card .project-stacks {
        display: none;
    }
    
    .project-card .body {
        grid-template-columns: 1fr;
        padding: 0;
        --gap: 1rem;
        justify-items: center;
    }

    .project-img-wrapper {
        /* block-size: 40vh;
        inline-size: 100%; */
    }

    /* .project-title {
        font-size: 1.25rem;
    } */

    /* blogs */
    .news-body {
        grid-template-columns: 1fr;
    }

    /* article page */
    .projects.related .section-body {
        grid-template-columns: 1fr;
    }
    .artcle-snippet-pre-detail .code-link {
        display: none;
    }

    /* article */
    .reaction-body-full .reaction-item {
        padding: 1rem;
    }
    .item-header .item-reaction-items {display: none;}
    .item-header .item-reaction-items.mobile.visible,
    .item-header .show-mobile-reactions {
        display: block;
    }

    .article .img-wrapper img {
        aspect-ratio: 16/12;
    }

    #comment-model {
        inline-size: 90vw;
    }
    
}
