@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;600;700;800;900&display=swap');


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-block-size: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-inline-size: 100%;
  display: block;
  object-fit: contain;
  aspect-ratio: 1/1;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------------------------------------------------------------------------------------- */
/* -------------------------------------CUSTOM PROPERTIES -------------------------------------- */
/* --------------------------------------------------------------------------------------------- */

:root {
  /* colors */
  --primary-color: 206 100% 11%;
  /* --primary-color: 180 100% 25%; */
  --secondary-color: 195 100% 10%;
  --accent-color: 190 100% 32%;
  --text-color: 180 20% 20%;
  --white-color: 0 0% 100%;
  --black-color: 0 0% 0%;

  /* type */
  --title-size: 2.25rem;
  --section-title-size: clamp(1rem, calc(1vw + 1rem), 1.4rem);
  --body-size: 1rem;
  --overline-size: 0.75rem;

  --heading-font-family: 'Roboto Mono', monospace;
  /* --heading-font-family: 'Source Code Pro', monospace; */
  --section-heading-font-family: 'Roboto Slab', serif;
  --body-font-family: 'Montserrat', sans-serif;
  --alpha: 1;
  
}

/* --------------------------------------------------------------------------------------------- */
/* -------------------------------------CUSTOM CLASSES ----------------------------------------- */
/* --------------------------------------------------------------------------------------------- */

.grid {
  display: grid;
  gap: var(--gap);
}
/* aligning */
.place-center {place-items: center}
.place-inline-center {justify-content: center;}
.place-block-center {align-items: center;}

.flex {
  display: flex;
  gap: var(--gap);
}

.container-fluid,
.wrapper {
  inline-size: 100%;
  block-size: 100%;
}

.container {
  inline-size: 80vw;
  block-size: 100%;
  margin-inline: auto;
}

/* padding */
.pd-inline-sm {padding-inline: .5rem}
.pd-inline-1 {padding-inline: 1rem}
.pd-inline-2 {padding-inline: 2rem}
.pd-inline-3 {padding-inline: 3rem}

.pd-block-sm {padding-block: .5rem}
.pd-block-1 {padding-block: 1rem}
.pd-block-2 {padding-block: 2rem}
.pd-block-3 {padding-block: 3rem}

.pd-sm {padding: .5rem}
.pd-1 {padding: 1rem}
.pd-2 {padding: 2rem}
.pd-3 {padding: 3rem}

/* margin */
.mg-inline-sm {margin-inline: .5rem}
.mg-inline-1 {margin-inline: 1rem}
.mg-inline-2 {margin-inline: 2rem}
.mg-inline-3 {margin-inline: 3rem}

.mg-block-sm {margin-block: .5rem}
.mg-block-1 {margin-block: 1rem}
.mg-block-2 {margin-block: 2rem}
.mg-block-3 {margin-block: 3rem}

.mg-sm {margin: .5rem}
.mg-1 {margin: 1rem}
.mg-2 {margin: 2rem}
.mg-3 {margin: 3rem}

/* gap */
.gap-sm {gap: .5rem}
.gap-1 {gap: 1rem}
.gap-2 {gap: 2rem}
.gap-3 {gap: 3rem}

/* type */
.underline {text-transform: underline;}
.italics {text-transform: italic;}
.text-centered {text-align: center;}
.section-title {text-transform: uppercase;}

/* colors */
/* backgrounds */
.bg-primary {
  --color: var(--white-color);
  background-color: hsl(var(--primary-color) / var(--alpha));
}
.bg-secondary {
  --color: var(--secondary-color);
  background-color: hsl(var(--secondary-color) / var(--alpha));
}
.bg-accent {
  --color: var(--accent-color);
  background-color: hsl(var(--accent-color) / var(--alpha));
}
.bg-white {
  --color: var(--white-color);
  background-color: hsl(var(--white-color) / var(--alpha));
}
.bg-black {
  --color: var(--black-color);
  background-color: hsl(var(--black-color) / var(--alpha));
}

/* color */
.txt-primary {
    color: hsl(var(--primary-color) / var(--alpha));
    --text-color: var(--primary-color);
}
.txt-secondary {
    color: hsl(var(--secondary-color) / var(--alpha));
    --text-color: var(--secondary-color);
}
.txt-accent {
    color: hsl(var(--accent-color) / var(--alpha));
    --text-color: var(--accent-color);
}
.txt-white {
    color: hsl(var(--white-color) / var(--alpha));
    --text-color: var(--white-color);
}
.txt-black {
    color: hsl(var(--black-color) / var(--alpha));
    --text-color: var(--black-color);
}


/* borders */
.br-primary {border-color: hsl(var(--primary-color) / var(--alpha));}
.br-secondary {border-color: hsl(var(--secondary-color) / var(--alpha));}
.br-accent {border-color: hsl(var(--accent-color) / var(--alpha));}
.br-black {border-color: hsl(var(--black-color) / var(--alpha));}

/* alpha-value */
.alpha-100 {--alpha: 1;}
.alpha-90 {--alpha: .9;}
.alpha-80 {--alpha: .8;}
.alpha-70 {--alpha: .7;}
.alpha-60 {--alpha: .6;}
.alpha-50 {--alpha: .5;}
.alpha-40 {--alpha: .4;}
.alpha-30 {--alpha: .3;}
.alpha-20 {--alpha: .2;}
.alpha-10 {--alpha: .1;}


/* --------------------------------------------------------------------------------------------- */
/* ----------------------------------------- COMPONENTS ---------------------------------------- */
/* --------------------------------------------------------------------------------------------- */

/* type */
h1,
h2,
h3,
h4 {
  line-height: 1.2;
  color: var(--text-color);
}

h1,
h2 {
  font-family: var(--heading-font-family);
}

h3,
h4 {
  font-family: var(--section-heading-font-family);
}

h5,
h6,
p {
  font-family: var(--body-font-family);
  color: var(--text-color);
  line-height: 1.6;
}

h1 {font-size: var(--title-size);}
h2 {font-size: 2.5rem;}
h3 {font-size: var(--section-title-size);}
h4 {font-size: calc(var(--section-title-size) - .25rem);}
h5 {font-size: 1.313rem;}
h6 {font-size: var(--overline-size);}
p {font-size: var(--body-size);}

/* main {
  height: 100%;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}
main section{
  scroll-snap-align: start;
} */

section {
  --gap: 2rem;
  margin: 2.5rem auto;
  /* height: 100vh; */
  align-content: center;
  padding: 3rem 0;
}

/* button */
button,
.btn {
  display: grid;
  place-items: center;
  padding: 0.5rem 1rem;
  outline: none;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1rem;
  position: relative;
  justify-self: flex-start;
  align-self: flex-start;
  font-family: var(--body-font-family);
  font-weight: 500;
  border-width: 1.5px;
  border-style: solid;
  transition: all 0.15s ease-in-out;
  font-family: var(--body-font-family);
}
button:disabled,
.btn:disabled {
  cursor:none;
}

.roundbr {border-radius: 2rem;}

/* forms */
form {
  color: hsl(var(--text-color));
  transition: all 0.15s ease-in-out;
  font-family: var(--body-font-family);
}

form fieldset {
  gap: 0 2rem;
  border: 1px solid hsl(var(--text-color) / .5);
  padding: 1rem;
}

form fieldset legend:after,
form fieldset legend:before {
  content: "";
  display: inline-block;
  inline-size: clamp(.5rem, 1vw, 1rem);;
}

form .form-group {
  gap: .5rem;
  align-items: center;
}

input {
  padding: 0.5rem 1rem;
  outline: none;
  border: 1px solid hsl(var(--text-color) / .7);
  border-radius: .5rem;
}

input:focus {
  border-color: hsl(var(--accent-color) / 1);
}

header {
  padding: 0;
  overflow: hidden;
}

header * {
  transition: all .2s ease-in-out;
}

header ul {
  list-style: none;
  list-style-position: outside;
  grid-template-columns: .5fr .5fr 1fr .5fr .5fr;
  justify-content: space-evenly;
  /* align-items: center; */
  color:hsl(var(--text-color) / 1);
  background-color: transparent;
}

header ul.mobile {
  display: none;
}

header #logo {
  inline-size: 5rem;
  aspect-ratio: 1/1;
  background-color: grey;
}

header ul .tab {
  display: grid;
  justify-content: center;
  align-content: center;
}

header ul .logo {
  gap: 0;
  text-decoration: none;
  text-transform: none;
  justify-content: center;
  padding: 0;
}

header ul .logo .btn {
  inline-size: 100%;
  border: none;
  text-transform: none;
  font-weight: 700;
  font-size: 1.25rem;
}


/* footer */

footer {
  /* inline-size: 100vw; */
  color: hsl(var(--white-color) / 1);
  padding: 2.5rem 0;
  overflow: hidden;
  justify-items: center;
  --gap: 2rem;
}

footer .container {
  --gap: 2rem;
  grid-template-columns: repeat(4, minmax(max-content, .8fr));
  justify-content: center;
  align-content: center;
}

footer .footer-part {
  font-weight: 400;
  --gap: .5rem;
  color: hsl(0 0% 95% / 1);
  /* border: 1px solid rgb(104, 104, 104); */
  align-items: flex-start;
  grid-template-columns: 1fr;
  grid-template-rows: .3fr 1fr;
}

footer .footer-part .icon {
  color: hsl(var(--white-color) / .75);
}

footer .footer-part-heading {
  font-weight: 400;
  font-family: var(--section-heading-font-family);
  color: hsl(var(--white-color) / 1);
  text-transform: capitalize;
  font-size: 1.15rem;
}

footer .footer-part-body {
  --gap: 1rem;
}

footer .contact-infor {
  --gap: .5rem;
}

footer .contact-infor p {
  font-size: .9rem;
}

footer .contact-item {
  align-items: center;
}

footer .social-icons {
  --gap: 2rem;
  font-size: 1.2rem;
  color: hsl(0 0% 85% / 1);
}

footer .social-icons .icon {
  transition: all 0.2s ease-in-out;
}

footer .footer-part-links {
  --gap: .5rem 2rem;
  font-size: .95rem;
  color: hsl(var(--white-color) / .8);
  grid-template-columns: repeat(2, auto);
  text-transform: capitalize;
  justify-items: flex-start;
}

footer .footer-part-link {
  /* border: 1px solid rgb(97, 97, 97); */
  white-space: nowrap;
}

footer .footer-part-link:hover,
footer .footer-part-link:active,
footer .social-icons .icon:hover,
footer .social-icons .icon:active {
  color: hsl(var(--white-color) / 1);
}

footer .site-map {
  grid-template-columns: 1fr;
  text-transform: capitalize;
}

footer .footer-part-intro {
  color: hsl(var(--white-color) / .9);
  font-size: .9rem;
  text-transform: capitalize;
}

footer .newsletter {
  --gap: 0;
  overflow: hidden;
}

footer form {
  gap: .5rem;
  display: grid;
  grid-template-columns: 1fr;
}

footer form input {
  border-radius: 0;
  border: none;
  /* inline-size: 100%; */
}

footer .copyright {
  font-family: 400;
  font-size: .8rem;
  color: hsl(0 0% 90% / 1);
  text-align: center;
}

/* body elements */
section {
  block-size: 90vh;
}

/* horizontal scroll */
.horizontal-scroll {
  padding: .5rem 0;
  grid-auto-flow: column;
  grid-auto-columns: 36%;
  --gap: 0 1rem;
  overflow-x: scroll;
  overscroll-behavior-inline: contain;

  scroll-snap-type: inline proximity;
  scroll-padding-inline: 4rem;
}

.horizontal-scroll::-webkit-scrollbar {
  scrollbar-width: none;
  display: none;
  -ms-overflow-style: none;
}

.horizontal-scroll > * {
  scroll-snap-align: start;
}

@media (max-width: 900px) {
  .container {
    inline-size: 80vw;
  }
  footer .container {
    --gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen 
    and (min-width: 1024px){

}

@media screen 
    and (max-width: 1024px){

}

@media screen 
    and (max-width: 480px){

    /* gap */
    .gap-md-sm {gap: .5rem}
    .gap-md-1 {gap: 1rem}
    .gap-md-2 {gap: 2rem}
    .gap-md-3 {gap: 3rem}
    
    /* padding */
    .pd-md-inline-sm {padding-inline: .5rem}
    .pd-inline-1 {padding-inline: 1rem}
    .pd-md-inline-2 {padding-inline: 2rem}
    .pd-md-inline-3 {padding-inline: 3rem}

    .pd-md-block-sm {padding-block: .5rem}
    .pd-md-block-1 {padding-block: 1rem}
    .pd-md-block-2 {padding-block: 2rem}
    .pd-md-block-3 {padding-block: 3rem}

    .pd-md-sm {padding: .5rem}
    .pd-md-1 {padding: 1rem}
    .pd-md-2 {padding: 2rem}
    .pd-md-3 {padding: 3rem}

    /* margin */
    .mg-md-inline-sm {margin-inline: .5rem}
    .mg-md-inline-1 {margin-inline: 1rem}
    .mg-md-inline-2 {margin-inline: 2rem}
    .mg-md-inline-3 {margin-inline: 3rem}

    .mg-md-block-sm {margin-block: .5rem}
    .mg-md-block-1 {margin-block: 1rem}
    .mg-md-block-2 {margin-block: 2rem}
    .mg-md-block-3 {margin-block: 3rem}


    header ul.desktop {
      display: none;
    }
    header ul.mobile {
      display: flex;
    }
    header ul.mobile > li {
      justify-self: center;
    }

    footer .container {
        --gap: 2rem;
        grid-template-columns: 1fr;
    }

    /* horizontal scroll */
    .horizontal-scroll {
      grid-auto-columns: 84%;
    }
}